@using Labb2.Models
@model Labb2.Models.Album



@{
    ViewBag.Title = "ViewAlbum";
}


<div class="container-full" style="margin-top: 100px;">
    <div class="centerBlock"><h2>@Model.AlbumName</h2></div>
    @{
        Html.RenderAction("PhotoSlider","Album",@Model.AlbumId);
    }


    <div class="Image-thumb">
        @Html.ActionLink("Upload", "UploadToAlbum", "Album", new { albumId = Model.AlbumId }, new { @class = "navbar-brand" })
        @Html.ActionLink("Delete", "DeleteAlbum", "Album", new { albumId = Model.AlbumId }, new { @class = "navbar-brand" })


        @foreach (var photo in @Model.Photos)
        {

            <a href='@Url.Action("ShowImage", "Gallery", new {id = photo.PhotoId}, null)'>
                <img src="@Url.Content(photo.PhotoUrl)" alt="Image From Folder"/>
            </a>
        }
    </div>
   
</div>
